<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CertixServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54359/CertixServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="CertixServicesSoap"
                contract="CertixWS.CertixServicesSoap" name="CertixServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>